.background_img img {
    width: 100%;
    height: 500px;
    display: inline-block;
    position: absolute;
    z-index: -2;
}


nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width: 60%;
}

nav ul li {
    font-weight: bolder;
    margin-top: 10%;
    margin-bottom: 10%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.heading {
    color: white;
    margin-left: 10%;
}

.heading h1 {
    margin: 0;
    font-size: 300%;
    font-family: Arial, Helvetica, sans-serif;
}

pre {
    color: rgba(235, 235, 32, 0.921);
    margin-left: 8%;
    margin-bottom: 4%;
    font-size: 70%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}   

.button1 {
    background-color: rgb(209, 212, 27);
    border-radius: 12px;
    margin-left: 12%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border: 1px solid rgb(161, 45, 45);
    padding: 5px 32px;
    margin-bottom: 5%;
}

.Categories {
    margin-left: 10%;
    font-family: Arial, Helvetica, sans-serif;
}


.gallery-container {
    display: flex;
    justify-content: space-around;
    margin: 6%;
    
}

.gallery {
    border: 2px solid #1e1d1d;
    box-shadow: 1px 1px 10px;
}

.gallery img {
    width: 300px;
    height: 250px;
   
}

.title {
    text-align: left;
    font-size: small;
    font-weight: bold;
    margin-bottom: 5%;
}

.desc {
    text-align: justify;
    font-weight: bold;
}

.button2 {
    background-color: rgb(145, 13, 207);
    border-radius: 12px;
    margin-left: 12%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px 32px;
    margin-bottom: 5%;
}

.table1 {
    margin-left: auto; 
    margin-right: auto;
    margin-bottom: 5%;
}

.last-para {
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
}

.last-head {
    text-align: center;
}

.table2 {
    margin-left: auto; 
    margin-right: auto;
    color: #555;
    width: 50%;

}

.table2 tr td {
    text-align: center;

}
